body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.container {
  display: flex;
  width: 50%;
  margin: 0 auto;

}


.btn {
  margin: 25px;
  display: flex;
  height: 150px;
  width: 150px;
  border: 6px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellow {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.row{
  display: flex;
  justify-content: center;
}



