body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 6px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellow {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.row{
  display: flex;
  justify-content: center;
}




@media (max-width:578px) {


  .btn {
    margin: 2Opx;
    display: inline-block;
    height: 100px;
    width: 140px;
    border: 6px solid black;
    border-radius: 20%;
  }
  h1{
    font-size: 2remn;
  }
}